@import "./style.scss";

.layout {
  @include themify($themes) {
    display: flex;
    background-color: themed("bgSoft");
    margin-top: 70px;

    .layout_middle {
      flex: 6;
    }

    .loading {
      font-size: 24px;
      color: themed("textColor");
      text-align: center;
      margin-top: 3rem;
    }
  }

  @include mobile {
    width: 100%;
    height: 100vh;
  }
}
