@import "../../style.scss";

.updateModel {
  @include themify($themes) {
    position: fixed;

    top: calc(50% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    margin: auto;
    background-color: themed("bgModal");
    color: themed("textColor");
    width: 40%;
    max-height: 610px;
    overflow-y: scroll;
    box-shadow: 0px 0px 25px -12px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

    h1 {
      text-align: center;
      padding: 0rem 1rem 0rem;
      font-size: 28px;
    }

    .close {
      width: max-content;
      margin: 12px 15px 0 auto;

      button {
        border: none;
        outline: none;
        border-radius: 50%;
        padding: 3px 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        background-color: rgb(255, 143, 143);
      }
    }
    .updateForm {
      padding: 2rem 1.6rem 1.6rem;
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
    }

    .inputBlock {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-size: 17px;
      }

      input[type="file"]::file-selector-button {
        border: none;
        outline: none;
        padding: 10px 20px;
        background-color: rgb(249, 92, 142);
      }

      input[type="text"] {
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
        background-color: themed("bg");
        color: themed("textColor");
        padding: 12px 10px;
        //   border-radius: 10rem;
      }
    }

    .btnBlock {
      text-align: center;
      margin-top: 0.5rem;

      button {
        border: none;
        outline: none;
        background-color: #6f68f8;
        padding: 10px 20px;
        color: themed("textColor");
        letter-spacing: 1px;
      }
    }

    @include tablet {
      width: 70%;
    }

    @include mobile {
      width: 90%;
    }
  }
}
